<html>
	<head>
		<meta charset="utf-8">
		<title>Manipulacao GLC</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
		<script type="text/javascript" src="{{ static_url("add.js")  }}" charset="utf-8"></script>
	</head>
	<body>
		<div id="producoes">
			Adicione as produções abaixo seguindo o enunciado do trabalho: <br /> <br />
			<label for="nova_producao">Nova Produção: </label><input type="text/submit/hidden/button" name="nova_producao" value="E -> E a A T D | q T a A b | A a a a a 1 1 3 2 1 2" class="nova_producao"> <button class="add_producao">Nova Produção</button>
		</div>
	</body>
</html>
