<html>
	<head>
		<meta charset="utf-8">
		<title>Manipulacao GLC</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
		<script type="text/javascript" src="{{ static_url("edit.js")  }}" charset="utf-8"></script>
	</head>
	<body>
		Gramática #{{id}}<br /> <br />
		Adicione as produções abaixo seguindo o enunciado do trabalho: <br /> <br />
		<form action="/edit/{{id}}" method="POST" accept-charset="utf-8">
			{% if len(producoes) %}
				{% for NT, producao in producoes.items() %}
					<input type="text" name="producao[]" value="{{NT}} -> {{''.join(producao)}}" class="producao">
				{% end%}
			{% else %}
				<input type="text" name="producao[]" value="" class="producao">
			{% end %}
		</form>
        <button type="button" class="add_producao">Nova Produção</button>
        <button type="button" id="save">Salvar</button>
	</body>
</html>
